<% post.summarize! %>
<div class="article-body">
	<div class="article-content">
	<h2><%= link_to post.title, post.permalink %></h2>
	<div class="img-container">
		<% if post.image.nil? %>
		  <%= image_tag 'default', :width => '125', :height => '125' %>
		<% else %>
		  <%= image_tag post.image, :width => '125', :height => '125' %>
		<% end %>		
	</div>
	<p><%= post.summary %></p>
  <% if defined?(topic) and defined?(posts) %>
	<div class="clear"></div>
	<h3>Other images</h3>
  <div class="other box">
    <% posts.shift %>
    <% posts.each do|p| %>
      <% if p.image.nil? %>
        <%= link_to image_tag('default', :width => '85', :height => '85'), p.permalink %>
      <% else %>
        <%= link_to image_tag(p.image, :width => '85', :height => '85'), p.permalink %>
      <% end %>		
    <% end %>
  </div>
  <% end %>
	<div class="clear"></div>
	</div>
</div>
<div class="article-meta">
	<div class="date">
		<% d = post.created_at %>
		<div class="day"><%= d.day %></div>
		<div class="month"><%= d.strftime('%b') %></div>
		<div class="year"><%= d.year %></div>
		<div class="time"><%= d.strftime("%I:%M%p") %></div>
	</div>
	<div class="clear"></div>
	<div class="meta">
		<ul>
      <% if defined?(topic) and defined?(posts) %>
			<li>
				<h5>Most recent update:</h5>
				<%= link_to posts.last.feed.title, posts.last.feed.link %>
			</li>
			<li>
				<h5>First on the scene:</h5>
				<%= link_to post.feed.title, post.feed.link %>
			</li>
			<li><h5>Event Hottness</h5>
				<%= total_entries %>
			</li>
      <% end %>
			<li>
				<h5>Featured celebrities</h5>
				<ul class="celebrity">
					<% for t in post.tags do %>
					<li><%= link_to t.name, tag_path(t.permalink) %></li>
					<% end %>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="clear"></div>
