<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> Pop'N Hot!</title>
  <%= stylesheet_link_tag 'styles' %>
</head>
<body>
	<div id="container">
		<div id="header">
			<%#
			<a href="/" title="All the celebrity gossip in one place">
				<h1 id="logo">Pop'n Hot</h1>
			</a>
			%>
			<div id="u-nav">
				<%= 
				tabs = [{"link"=>"posts", "title"=>"Breaking celebrity news"}, {"link"=>"tags", "title"=>"celebrities"}]
				navigation(tabs) 
				%>
			</div>
		</div>
		<div id="content">
			<div class="c2_1">
				<%= yield %>
			</div>
			<div class="c2_2 sidebar">
				<%= yield :sidebar %>
				<div class="menu-block">
					<h4>Currently hot celebrities</h4>
					<ul class="left celebrities">
						<% 6.times do |i| %>
							<li><%= render :partial => 'tags/summary', :locals => {:tag => @hot_celebs[i]} %></li>
						<% end %>
					 </ul>
					<ul class="right celebrities">
						<% 5.times do |i| %>
							<li><%= render :partial => 'tags/summary', :locals => {:tag => @hot_celebs[i+6]} %></li>
						<% end %>
	          <li><%= link_to "more", tags_path, :params => {:order => "count desc"} %></li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="menu-block">
					<h4>Always hot celebrities</h4>
					<ul class="left celebrities">
	          <% 6.times do |i| %>
							<li><%= render :partial => 'tags/summary', :locals => {:tag => @all_time_celebs[i]} %></li>
						<% end %>
					</ul>
					<ul class="right celebrities">
						<% 5.times do |i| %>
							<li><%= render :partial => 'tags/summary', :locals => {:tag => @all_time_celebs[i+6]} %></li>
						<% end %>
							<li><%= link_to "more", tags_path, :params => {:order => "count desc"} %></li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="menu-block">
					<h4>Current hot topics</h4>
					<ul class="articles">
	          <li><img src="/images/default-profile.png"/><a href="/tags/michael-jackson" class="tag3">PHOTO GALLERY: The Beckhams at Work and Play</a><div class="clear"></div></li>
	          <li><a href="/tags/jon-gosselin" class="tag3">This is the article head</a></li>
	          <li><a href="/tags/robert-pattinson" class="tag3">PHOTO GALLERY: The Beckhams at Work and Play</a></li>
	          <li><a href="/tags/kristen-stewart" class="tag3">This is the article head</a></li>
	          <li><a href="/tags/taylor-lautner" class="tag3">This is the article head</a></li>
						<li><a href="/tags/dr-conrad-murray" class="tag2">This is the article head</a></li>
					 </ul>
					<div class="clear"></div>
				</div>
				<div class="menu-block">
					<h4>All time hot topics</h4>
					<ul class="articles">
	          <li><a href="/tags/michael-jackson" class="tag3">PHOTO GALLERY: The Beckhams at Work and Play</a></li>
	          <li><a href="/tags/jon-gosselin" class="tag3">This is the article head</a></li>
	          <li><a href="/tags/robert-pattinson" class="tag3">PHOTO GALLERY: The Beckhams at Work and Play</a></li>
	          <li><a href="/tags/kristen-stewart" class="tag3">This is the article head</a></li>
	          <li><a href="/tags/taylor-lautner" class="tag3">This is the article head</a></li>
						<li><a href="/tags/dr-conrad-murray" class="tag2">This is the article head</a></li>
					 </ul>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			<div class="container">
			Contact Us
			Privacy policy
			RSS
			Advertise with us
			Pop'N Hot is maintained by <%= link_to "Anerian LLC", "http://www.anerian.com", :target => "_blank" %>
			<div id="copyright">Copyright © 2009 Time Inc. All rights reserved. Reproduction in whole or in part without permission is prohibited.</div>
			</div>
		</div>
	</div>
</body>
</html>
